body {
    margin: 0; 
    padding: 0;
    overflow: hidden; 
}
.titlebar {
  height: 30px;
  background: #2b252c;
  color: white;
  display: flex;
  position:relative;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
  padding: 0 10px;
}
.titlebar ul
{
   list-style: none;
   display: flex;
   justify-content: start !important; 
   align-items: start;
   -webkit-app-region: no-drag;
   padding-left: 0;
}
.titlebar li
{
    display: block;
    padding: 0 10px;
    line-height: 30px;
    cursor: pointer;
}
.titlebar li:hover
{
    filter: brightness(120%);
    background: rgba(255, 255, 255, 0.1);
}